<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FileConnectionToDatabase" connectionString="server = NLTI155\SQLEXPRESS; database = Studentdata;integrated Security = true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>


		<add key ="logfile" value="D:\StudentData\WindowsServiceNlog.txt"/>
		<add key ="Unprocessed" value ="D:\StudentData\Unprocesssed"/>
		<add key="Processed" value="D:\StudentData\Processed\"/>
		<add key="Error" value="D:\StudentData\ErrorFolder\"/>
		<add key ="ScheduledTime" value ="18:41"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>